.AccountContainer{
    padding: 0;
    margin: 0;
    width: 100%;
}

.TopHalfContainer{
    min-height: calc(40vh - 60px);
    background: linear-gradient(0.25turn, rgba(249, 213,110), rgba(232, 89, 91)); 
    margin-top: 0;
    width: 100%;
}

#tempButton{
    visibility: hidden;
}

#name{
    vertical-align: bottom;
    text-align: left;
    color: rgba(92, 69, 57, 1);
    font-family: Freakshow;
    font-size: 60px;
}

.ProfileImageLarge{
}

#profile-image-large{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid black;
    z-index: 1;
}

.BottomHalfContainer{
    background-image: url("../assets/default-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(60vh);
}

.UserPoints{
    margin-top: 100px;
    background-image: url("../assets/paper.png");
    background-repeat: no-repeat;
    background-size: cover; 
    width: 375px;
    height: 515px;
    padding-top: 10px;
    padding: 20px;
}

.TokenName, .TokenValue{
    font-family: Freakshow;
    color: rgba(92, 69, 57, 1);
    font-size: 30px;
    text-align: left;
}

.UserPreferences{
    margin-top: 100px;
    width: 708px;
    height: 515px;
    background-image: url("../assets/paper-horizontal.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

.height100{
    min-height: 100%;
}

.ToBottom{
    vertical-align: bottom;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }