@font-face {
    font-family: Freakshow;
    src:url("../assets/Carnevalee_Freakshow.ttf");
}

.TopHalfContainer{
    min-height: calc(40vh - 60px);
    background: linear-gradient(0.25turn, rgba(249, 213,110), rgba(232, 89, 91)); 
}

#name{
    vertical-align: bottom;
    text-align: left;
    color: rgba(92, 69, 57, 1);
    font-family: Freakshow;
    font-size: 60px;
}

#profile-image-large{
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.BottomHalfContainer{
    background-image: url("../assets/default-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(60vh);
}

.UserPoints{
    margin-top: 100px;
    background-image: url("../assets/paper.png");
    background-repeat: no-repeat;
    background-size: cover; 
    width: 300px;
    height: 413px;
    padding-top: 10px;
    padding: 20px;
}

.TokenName, .TokenValue{
    font-family: Freakshow;

    color: rgba(92, 69, 57, 1);
    font-size: 30px;
    text-align: left;
}

.height100{
    min-height: 100%;
}

.ToBottom{
    vertical-align: bottom;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }