/*fonts, etc. styles that all pages use*/

@font-face {
  font-family: Freakshow;
  src:url("../assets/Carnevalee_Freakshow.ttf");
}

body{
  font-family: Freakshow;
  overflow: auto;
}

.row-flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.buttons {
	font-size: min(3vw, 1.5rem);
	padding: 1rem;
	background-color: rgba(63, 53, 48, 1);
	border-radius: 10px;
	user-select: none;
	color: white;
	width: min(35vw, 420px);
}
