.HomeContainer{
    min-height: calc(100vh-60px);
}

#welcome-header{
    font-size: 35px;
    margin: 40px;
}

hr {
   width: 80%; 
   margin-bottom: 30px;
   height: 3px;
   color: #b0b0b0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}