h1{
	color: rgba(63, 53, 48, 1);
	font-size: 120px;
}

p{
	margin: 20px 0 10px 0;
}


body{
	background-image: none;
}

.landing{
	height: 100vh;
	background: linear-gradient(180deg, rgba(232,80,91,1) 0%, rgba(249,213,110,1) 90%); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	display: grid;
	place-items: center; 
}

.footer {
	background-image: url('../assets/landing-footer.png');
	background-repeat: repeat-x;
	background-size: contain;
	background-position: center bottom;
}

#account-login{
	background-color: rgba(232,80,91,1);
}

@font-face {
  font-family: Jost;
  src:url("../assets/Jost-Regular.ttf");
}

.landing-container {
	padding: 100px;
	text-align: center;
	border-radius: 10px;
	font-family: Jost, sans-serif;
	z-index:999;
}


.buttons:hover{
	box-shadow: 0 0 5px;
	cursor: pointer;
}

.buttons:active{
	background-color:rgba(232,80,91,1);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 225px;
	z-index: 1;
	color: white;
	text-align: center;
 }

 #email-login{
	 background-color: white;
	 color: #3f3530;
 }