.message {
	display: flex;
	align-items: center;
	padding: 20px;
	font-size: 18px;
	font-family: Jost;
}

.message > img {
	height: 50px;
	width: 50px;
	object-fit: contain;
}

.message-info {
	font-family: Freakshow;
}

.message-content{
	padding-left: 20px;
}

.message-timestamp {
	color: rgb(104, 91, 84);
	font-size: 16px;
}

