.sidebarOption {
	display: flex;
	align-items: center;
	padding-left: 2px;
  	cursor: pointer;
}

.sidebarOption:hover {
	opacity: 0.9;
	background-color: #694d3c;
	color: #FFF
}

.sidebarOption-icon {
  z-index: 999;
	padding: 10px;
	font-size: 15px !important;
}

.sidebarOption-room {
	padding: 10px 0;
}

.sidebarOption-hash {
	padding: 10px;
}

.sidebarOption > h3 {
	font-weight: 500;
}
