.sidebar {
	background-color: #3f3530;
	max-width: 300px;
	color: #eeeeee;
	flex: 0.4;
	
}

.bar-hr {
	margin: 0 0;
	height: 0.5px;
	width: 100%;
	border: none;
	background-color: rgb(141, 120, 106)
}