.usercard {
  color: #3f3530;
  margin: 1.5vw;
  padding: 3vh 1.5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  text-align: center;
  width: min(30vw, 300px);
  height: min(40vw, 400px);
  position: relative;
}

.uc-bg{
  position: absolute;
  z-index: -999;
  width: min(30vw, 300px);
  height: min(40vw, 400px);
  left:0px;
  filter: drop-shadow(5px 5px 5px hsla(260, 84%, 10%, 0.425));
}

.usercard:hover{
 text-decoration: none; 
 color: #3f3530; 
 filter: drop-shadow(5px 5px 5px hsl(34, 67%, 15%));
}

.usercard * {
  margin: 0 auto;
}

.usercard-pic{
  width: min(15vw, 150px);
  height: min(15vw, 150px);
  margin: 0.5vw;
}




